<h1 style="color: #8c0f0f; font-style: italic;">RSVP (Closed)</h1>

<p>As we have already submitted our final numbers to the caterers, online RSVP is now closed. You can still contact us by emailing Bart at <a href="mailto:bart@sonic.net">bart@sonic.net</a>. </p>
	
	<%= render :partial => 'info/links' %>