<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <title>Save the Date</title>
</head><body style="background-repeat: initial; background-attachment: initial; -webkit-background-clip: initial; -webkit-background-origin: initial; background-color: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space; background-image: url('/images/bg_pattern.jpg'); background-position: 50% 0px; "> 
	
<div style="background-repeat: initial; background-attachment: initial; -webkit-background-clip: initial; -webkit-background-origin: initial; background-color: initial; background-image: url('/images/bg_pattern.jpg'); background-position: 50% 0px; " email-body-wrap"="" width="553" cellspacing="0" cellpadding="0" id="email-body" align="center">
	 
		&nbsp;
		<%= image_tag "tbg.jpg", {:style => "display:block", :size => "517x17"} %>
		&nbsp;
	
	
		
	
			
<table id="main-table" width="517" cellpadding="0" cellspacing="0" align="center">
	<tbody><tr>
		<td id="head" colspan="1">
			<%= image_tag "Photo.jpg", {:style => "display:block", :size => "517x298"} %>
		</td>
	</tr>
	<tr>
		<td id="body-center" width="514" style="line-height:2;" background="/images/letter_bg.jpg">
			
			<table cellspacing="0" cellpadding="0" class="spacing-table-for-ie5-and-hotmail">
				<tbody><tr>
					<td colspan="3" height="23" class="top-spacing">&nbsp;</td>
				</tr>
				<tr>
					<td width="31" class="left-gutter-spacing" style="font-size:1px">&nbsp;</td>
					<td class="content-holder" valign="top" align="center">
						<font face="Georgia, Times New Roman, Times, serif" color="#553b22" style="font-size:14px">
						<div class="body-title" id="body-title">
							<font face="Times, serif" color="#65a7b4" style="font-size:30px">
							<em>
							<span apple-content-name="title" style="display:block;width:452px" applecontenteditable="true">Save the date!
							</span>
							</em>
							</font>
						</div>
						<div><br class="khtml-block-placeholder"></div>
						<div class="body-content" id="body-content" style="line-height:1.5;">
							<span apple-content-name="body" style="display:block;width:452px;" apple-content-edited="true" applecontenteditable="true">Hello everyone -&nbsp;<div><br class="webkit-block-placeholder"></div><div>Kat and I have officially selected our wedding date. The wedding will be held in the Santa Cruz Mountains on August 8, 2008.&nbsp;</div><div><br class="webkit-block-placeholder"></div><div>For those that are interested we'll have camping and cabins in the redwoods, along with plenty of hiking trails and a swimming pool.&nbsp;</div><div><br class="webkit-block-placeholder"></div>
								<div><%= link_to "RSVP Here", :action => 'rsvp' %></div></span> 
						</div>
						</font>
					</td>
					<td width="31" class="right-gutter-spacing" style="font-size:1px">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" height="23" class="bottom-spacing">&nbsp;</td>
				</tr>
			</tbody></table>
			
		</td>
	</tr>
	<tr>
		<td id="foot" class="foot" colspan="1">
			<%= image_tag "bottom.jpg", {:style => "display:block", :size => "517x126"} %>
		</td>
	</tr>
</tbody></table>

		<%= image_tag "bbg.jpg", {:style => "display:block", :size => "517x18"} %>
	


</div>


</body></html>