<h1>Available shuttles</h1>

<p>You will need to reserve a seat on a shuttle in case they're running full. We're still working out the schedules for shuttles, but the plan is to have at least 2 shuttles picking up in Santa Cruz and/or Watsonville before the ceremony, and at least 2 afterward to return you to your rooms. </p>

<p>The road to Pema Osel Ling is windy and dark, so we recommend you take a shuttle if you plan to drink at all at the reception.</p>

<p>If you'd like information about the shuttles, please send me an email or come back to this page at a later date to make a reservation. Reservations will be taken on a first come, first served basis.</p>