body {
	background: url('/images/bg_pattern.jpg');
	color: #333;
	margin-top: 0;
	margin-bottom: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
/* ************************** */
#main_stripe {
	position: absolute;
	margin-top: 0;
	margin-left: 50px;
	padding: 20px;
	width: 680px;
	background: #fff;
	color: #573900;
}
form {
	position: relative;
}
form label {
	position: relative;
	left: 24px;
	width: 180px;
	display: block;
	text-align: right;
	margin-left: 20px;
	vertical-align: middle;
}
.normal input,select {
	position: relative;
	left: 240px;
	top: -20px;
	vertical-align: middle;
}
.fieldWithErrors {
	position: relative;
	left: 240px;
	top: -35px;
	vertical-align: middle;
}
div.fieldWithErrors input,select {
	position: relative;
	left: 0;
	top: 0;
}