<h1>New invitee</h1>

<%= error_messages_for :invitee %>

<% form_for(@invitee) do |f| %>
	<%= render :partial => 'form', :object => @invitee, :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', invitees_path %>
