<h1>New room</h1>

<%= error_messages_for :room %>

<% form_for(@room) do |f| %>
	<%= render :partial => 'form', :object => @room, :locals => {:f => f}%>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', rooms_path %>
