<h1 style="color: #8c0f0f; font-style: italic;">Thanks!</h1>

<p><%= @message unless @message.nil? %></p>

<p>Thanks for booking this room. Please remember that cabins are <i>not</i> furnished with bedding, only mattresses. You will need to bring pillows, a sleeping bag or sheets and blankets. We may have a limited supply of bedding available on a first-come-first-served basis, so contact us if you will not be able to supply your own bedding. </p>

<p><%= link_to "Information for Guests", :controller => 'info' %></p>