<%= link_to_unless_current "Home", :controller => 'main' %> |
<%= link_to_unless_current "Directions", {:controller => 'info', :action => 'directions'} %> |
<%= link_to_unless_current "Show On Site Housing Availability", {:controller => 'rooms'} %> |
<%= link_to_unless_current "Off-site Lodging Info", {:controller => 'info', :action => 'lodging'} %> | 
<%= link_to_unless_current "Registry", {:controller => 'info', :action => 'registry'} %>