<h1>Things to Bring</h1>

<p style="font-style:italic;">The ceremony site and the path to the reception area are steep in some areas, so we recommend you do not wear high heels to this event.</p>

<p>Whether you are staying with us on site or in a local hotel, there are some things you may want to bring with you. We've made a small checklist here that may help you prepare for your stay with us.</p>

<p><b>Cleaning and personal hygene</b>
<ul class="bring_ul">
	<li>Bar soap</li>
	<li>Comb/hair brush/clips/bands/hair ties</li>
	<li>Contact lens supplies</li>
	<li>Deodorant</li>
	<li>Feminine supplies</li>
	<li>Make-up bag</li>
	<li>Razor & shaving cream</li>
	<li>Shampoo</li>
	<li>Toothpaste & toothbrush</li>
	<li>Towel</li>
	<li>Washcloth</li>
	<li>Whisk broom to clean table and tent site</li>
	<li>Sewing kit</li>
	<li>Safety pins</li>
</ul></p>

<p><b>Clothing</b>
<ul class="bring_ul">
	<li>Hat</li>
	<li>Light Jacket</li>
	<li>PJs</li>
	<li>Comfortable day clothes/Change of clothes</li>
	<li>Shoes, shower shoes, hiking shoes </li>
	<li>Socks </li>
	<li>Sunglasses</li>
	<li>Swim suit</li>
	<li>Underwear </li>
</ul></p>
<p><b>Lighting</b>
<ul class="bring_ul">
	<li>Flashlight-Check your batteries! </li>
	<li>Gas lantern (and/or electric)</li>
	<li>Spare batteries and bulbs</li>
	<li>Spare lantern fuel and mantles</li>
</ul></p>
<p><b>Medical</b>
<ul class="bring_ul">
	<li>Allergy Eye drops</li>
	<li>Antibiotic cream</li>
	<li>Antiseptic, bandaids and bandages</li>
	<li>Benadryl Sinus Tablets</li>
	<li>Allergy medicine </li>
	<li>Any Prescriptions</li>
	<li>Aid Kit (may include all the above items)</li>
	<li>Pocket Tissues</li>
	<li>Sunscreen</li>
	<li>Tums</li>
	<li>Tylenol, Advil, Aspirin, Naproxin, etc. </li>
</ul></p>
<p><b>Shelter/Bedding</b><br />
	If you are staying in a cabin, you may rent bedding for $10 or bring your own. Bedding rental is limited and is on a first-come first-served basis.
<ul class="bring_ul">
	<li>Mattress or pad - Inflator for air mattress</li>
	<li>Pillows</li>
	<li>Shade Canopy, Rope & Stakes</li>
	<li>Sleeping bag</li>
	<li>Tent</li>
</ul></p>
<p><b>Miscellaneous</b>
<ul class="bring_ul">
	<li>Book, cards, games, toys,  etc.-Choose your daytime activity. We will be providing some fun things too!</li>
	<li>Camcorder w/good battery and extra tapes</li>
	<li>Camera w/good battery and extra film</li>
	<li>Duct tape and/or electrical tape</li>
	<li>Ear Plugs-if your friend snores </li>
	<li>Guitar/Harmonicas/Other musical instrument(s)-For campfire fun! </li>
	<li>List of important phone numbers/cell phone (check on the dogs , kids or favorite house plant at home) </li>
	<li>Money, credit card, ID</li>
	<li>Travel Clock</li>
</ul></p>

<%= render :partial => 'links' %>
