<h1>Wedding Info</h1>

<p>Start here for Kat and Bart's wedding information.</p>

<%= link_to "Directions", :action => 'directions' %> |
<%= link_to "Lodging Into", :action => 'lodging' %> | 
<%= link_to "Registry", :action => 'registry' %>