<h1>Wedding Info</h1>

<p>Start here for Kat and Bart's wedding information.</p>

<p>The wedding will take place at 4:00pm on August 8th at the Pema Osel Ling Mountain Retreat near Santa Cruz, California. <%= link_to "Pema Osel Link Web Site", 'http://www.polmountainretreat.com', :popup => true %></p>

<%= render :partial => 'links' %>